# =======================================================
# == Fichiers de Secrets et de Configuration Locale
# NE JAMAIS PUBLIER CES FICHIERS SUR GIT !
# =======================================================
.env

# =======================================================
# == Cache et Fichiers Générés par Python
# =======================================================
__pycache__/
*.pyc
*.pyo
*.pyd

# =======================================================
# == Environnement Virtuel Python
# Peut être recréé à partir de requirements.txt
# =======================================================
venv/
.venv/
env/
*.env

# Fichiers de dépendances générés
*.egg-info/

# =======================================================
# == Fichiers de Base de Données
# Contiennent des données qui changent constamment et peuvent être sensibles
# =======================================================
*.db
*.sqlite
*.sqlite3
database.db

# =======================================================
# == Dépendances Node.js (de votre dossier /api)
# Peuvent être réinstallées avec 'npm install'
# =======================================================
node_modules/

# =======================================================
# == Fichiers Spécifiques au Système d'Exploitation
# =======================================================
.DS_Store
Thumbs.db

# =======================================================
# == Fichiers des IDEs et Éditeurs de Code
# =======================================================
.vscode/
.idea/
*.suo
*.user


# =======================================================
# == Fichiers temporaires ou accidentels
# =======================================================
2.0.1