<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Erreur</title>
    <script>
    // Définition de la variable STATIC_URL pour l'utilisation dans le JavaScript
        const STATIC_URL = "{{ url_for('static', filename='') }}";
    </script>
</head>
<body>
    <h1>Une erreur est survenue</h1>
    <p>Impossible de charger les données demandées. Veuillez réessayer.</p>
    <a href="{{ url_for('main.cartes_requete_avancee') }}">Retour aux requêtes avancées</a>
</body>
</html>
